body {
  font-family: "Open Sans", "Microsoft YaHei", "Hiragino Sans GB", "Hiragino Sans GB W3", "微软雅黑", "Helvetica Neue", Arial, sans-serif;
  font-size: 15px;
  line-height: 1.6em;
  color: #333333;
  font-weight: 100;
  -webkit-font-smoothing: antialiased;
}
#main {
  left: 25%;
  position: absolute;
}
#main #text {
  padding-bottom: 10px;
}

p {
	/*text-align: center;*/
	/*color: #ff6e00; */
  color: #ee0b77; 
  font-size: 18px;
}


/* HEAP VIS */

svg line {
  fill: none;
  shape-rendering: crispEdges;
}

.vis {
  border: 1px solid;
  width: 762px;
  position: relative;
  margin-bottom: 20px;
}


.line {
  fill: none;
  stroke: #000;
  stroke-width: 1.5px;
}

.area {
  fill: #969696;
}
